* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar {
    height: 90px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-add {
    cursor: pointer;
}
.nav-name {
    height: 50px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
}
.border {
    border: 1px solid transparent;
}
.border:hover {
    border:1px solid #f5be08;
    border-radius: 5px;
}
.add-f {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 18px;
}
.place {
    font-size: 1rem;
    margin-left: 3px;
}
.icon {
    display: flex;
    align-items: center;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color:#4ea9f3 ;
    border-radius: 5px;
    width: 600px;
    height: 40px;
}
.nav-search:hover{
    border: 1.8px solid #f04343;
}
.search {
    background-color: whitesmoke;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec4242;
    font-size: 1.2rem;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-help {
    display: flex;
    cursor: pointer;
}
.help {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    cursor: pointer;
    color: #e7c010;
}
.nav-cart i {
    font-size: 35px;
}
.nav-cart:hover {
    color: #e7c010;
    cursor: pointer;
}
.features{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.main {
    height: 500px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.food {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px solid #f05151;
    transition: transform 0.3s ease, box-shadow 0 4px 8px rgb(75, 22, 22);
}
.food:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #492323;
}
.img-t {
    height: 182px;
    width: 275px;
}


.text-f {
    font-size: 25px;
    color: #363636;
}
.text-s {
    font-size: 16px;
    color: #4f4f4f;
}
.learn {
    height: 250px;
    text-align: center;
    background-image: url('https://img.freepik.com/premium-photo/photo-closeup-shot-delicious-food_829042-89.jpg');
    padding: 60px 25px;
    background-size: cover;
    background-position: center;
}
.header {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #faf4f4;
}
.header:hover {
    color: #2caafd;
}
.para {
    font-size: 1.5rem;
    color: #f1ebeb;
    margin-bottom: 30px;
}
.button {
    padding: 10px 20px;
    background-color: #4040eb;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #030441;
}
.imag {
    height: 250px;
    width: 270px;
}
.collections {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px solid #f05151;
    transition: transform 0.3s ease, box-shadow 0 4px 8px rgb(75, 22, 22);
}
.collections:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #492323;
}
.text-f:hover {
    color: #7bc6f8;
}
.discount {
    height: 150px;
    width: 750px;
    padding: 60px 25px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/037/236/579/non_2x/ai-generated-beautuful-fast-food-background-with-copy-space-free-photo.jpg");
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}
.main-discount {
    display: flex;
    justify-content: center;
}
.button-o {
    padding: 10px 20px;
    background-color: #f33730;
    color: #e2d4de;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-o:hover {
    background-color: #bd165c;
}
.offer {
    font-size: 2rem;
    margin-bottom: 20px;
    color: whitesmoke;
}
.offer-s {
    font-size: 1rem;
    color: white;
    margin-bottom: 30px;
}
footer {
    margin-top: 20px;
}
.foot-panel {
    background-color: black;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.panel {
    margin-top: 15px;
    display: block;
}
.foot-text {
    margin-top: 18px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.foot-text:hover {
    color: #f5be08;
}
.about {
    font-size: 22px;
    font-style: italic;
    font-weight: 100px;
}
.links-ab {
    margin-top: 15px;
}
.icons {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    
}
.end {
    background-color: black;
    border-top: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy{
    margin-top: 10px;
}